@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");


body {
  position: relative;
  background: linear-gradient(135deg, #f5f5f5, #c0c0c0); /* Fondo de gradiente nuevo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-top: 100px;
  animation: crtScanlines 1s linear infinite;
}

/* Añadimos overlay con líneas horizontales */
.crt-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 80%, rgba(0,0,0,0.1) 80%, transparent 100%);
  background-size: 100% 5px; /* Líneas horizontales */
  pointer-events: none; /* Evita que interfiera con la interacción */
  animation: crtScanlinesMove 1s infinite linear;
}

/* Animación para las líneas de escaneo */
@keyframes crtScanlines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes crtScanlinesMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.week-calendar-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h3{
  margin-bottom: 20px;
}

/* TASKS CONTAINER */
.task__container{
  display: flex;
  margin-bottom: 3rem;
  /* background-color: brown; */
  padding: 10px;
}

.task__container .task__name{
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task__name.selected{
  box-shadow:0px 0px 0px 2px black inset;
}

#deselect{
  background-color: #1d3557;
  color: white;
}


/* SCHEDULE DESIGN */
.schedule__container{
  background: linear-gradient(#ebf4f5, #b5c6e0);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.days__container{
  display: flex;
}

.corner{
  width: 50px;
  height: 70px;
  margin: 2px;
}

.day{
  width: 100px;
  border: solid 1px white;
  color: #9bafd9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.part__day{
  display: flex;
}

.time{
  width: 50px;
  height: 70px;
  color: white;
  background-color: #103783;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.task{
  background-color: white;
  height: 70px;
  width: 100px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* Reset Button */
.deleteBtn{
  padding: 10px 25px;
  margin-top: 20px;
  border: none;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

.deleteBtn:hover{
  background-color: #eee;
}

/* Pop up */
.pop-up__container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.pop-up{
  width: 300px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #00b4d8;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.btn__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__answer{
  margin: 0 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}









  .actividades-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .actividad {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .actividad img {
    width: 100px;
    height: 100px;
  }
  
  .actividad p {
    margin: 10px 0;
  }
  
  .btn-anotarse {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
  }
  
  .actividad:hover {
    background-color: #e0e0e0;
  }
  
  .actividad:hover .btn-anotarse {
    display: block;
  }
  


.line-1{
  z-index: 15;
  opacity: 0.5;
}

.line-2{
  z-index: 10;
  opacity: 0.7;
}

.line-3{
  z-index: 5;

}


.wave-container {
  position: relative;
  height: 200px; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Para evitar que las olas se salgan del contenedor */
}


.wave {
    z-index: 0s;
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%; /* Ajustar según sea necesario */
    background-size: 100% auto;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }
  
.wave1 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
}

.wave2 {
  -webkit-background-size: 50% 100px; /* Cambiado de 100px a 80px para consistencia */
  animation: animate 12s linear infinite;
  background-size: 50% 100px;
}

.wave3 {
  -webkit-background-size: 50% 80px;
  animation: animate 18s linear infinite;
  background-size: 50% 80px;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-25%) translateY(10px); /* Ajuste de altura intermedia */
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

footer {
  position: relative;
  z-index: 5; /* Mayor que el de las olas */
  padding: 20px;
  background: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
}