/* Fuente DIGITAL */
@font-face {
    font-family: 'DIGITAL';
    src: url('../assets/fonts/ChicagoFLF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Fuente SPORT */
@font-face {
    font-family: 'SPORT';
    src: url('../assets/fonts/Groning.otf') format('opentype'); /* Cambiado el formato a 'opentype' */
    font-weight: normal;
    font-style: normal;
}

:root {
    --b-azul: #7E70C2;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
}