/* Fuente DIGITAL */
@font-face {
    font-family: 'DIGITAL';
    src: url('../assets/fonts/ChicagoFLF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Fuente SPORT */
@font-face {
    font-family: 'SPORT';
    src: url('../assets/fonts/Groning.otf') format('opentype'); /* Cambiado el formato a 'opentype' */
    font-weight: normal;
    font-style: normal;
}

/* Fuente ROUND */
@font-face {
    font-family: 'ROUND';
    src: url('../assets/fonts/GeometrisRound-RegularSemCond.ttf') format('truetype'); /* Cambiado el formato a 'opentype' */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROUND-BOLD';
    src: url('../assets/fonts/GeometrisRound-MdSmCnObl.ttf') format('truetype'); /* Cambiado el formato a 'opentype' */
    font-weight: normal;
    font-style: normal;
}

:root {
    --b-azul: #7E70C2;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
}

/* Estiliza la barra de desplazamiento */
::-webkit-scrollbar {
    width: 20px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Estiliza el thumb (la parte que se mueve) */
  ::-webkit-scrollbar-thumb {
    background-color: #d1a8ff; /* Cambia el color cuando se hace hover */
    border: 3px solid #000000;
    border-radius: 3px; /* Bordes redondeados */
  }
  
  /* Estiliza el track (la pista por donde se mueve el thumb) */
  ::-webkit-scrollbar-track {
    background-color: #ffffff; /* Color del fondo del scroll */
    border-left:3px solid #000000;
    border-right:3px solid #000000;
  }
  
  /* Estilo para cuando el thumb es "hovered" (al pasar el cursor por encima) */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; /* Cambia el color cuando se hace hover */
  
  }