@font-face {
    font-family: 'DIGITAL';
    src: url('fonts/ChicagoFLF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
}